@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";
@import "../../../sass/fonts.scss";
@import "../../../sass/media.scss";

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1rem;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include max-width(medium){
    width: 50%;
  }
  
}
.navigationLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  @include max-width(medium){
    order: 2;
  }


  img {
    @include size(3rem, 3rem);
  }
}
.navigationIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  @include size(2rem, 2rem);
  @include typography($primary-font-family, 2rem, #fff);
  @include min-width(medium) {
    display: none;
  }
}

.navigationItems {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  @include max-width(medium) {
    & {
      display: flex;
      flex-direction: column;
      position: absolute;
      //background: #fff;
      list-style: none;
      right: 1rem;
      top: 5.25rem;
     // height: 100%;
      //padding: 50px 15px;
      width: 80%;
      max-width: 250px;
      transition: 0.3s;
      transform: translateX(100%);
    }
  }

  li {
    padding: 1rem;
    list-style: none;
    @include min-width(medium) {
      display: flex;
    }
  }

  a {
    @include typography($primary-font-family, 1rem, $text-accent-color);
    text-decoration: none;

    &:hover {
      color: lighten($text-accent-color, 20%);
    }
  }
}

.isSidenavOpen {
  transform: translateX(0%);
}
