
@import '../../../sass/mixins.scss';
@import '../../../sass/variables.scss';
@import '../../../sass/fonts.scss';

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem;
}
.navigationLogo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        @include size(3rem, 3rem);
    
    }
}

.navigationItems {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    li {
        padding: 1rem;
        list-style: none;
    }

    a {
        @include typography($primary-font-family, 1rem, $text-accent-color);
            text-decoration: none;
        
            &:hover {
                color: lighten($text-accent-color, 20%);
            }
        }
}