@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';
@import '../../../sass/fonts.scss';

.tableRow {
    display: flex;
    width: 100%;
}

.courseItems {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
        justify-content: space-between;
        margin: 1rem;
        padding: 0.5rem;

    li {
        list-style: none;
        padding: 1rem;
        @include typography($primary-font-family, 1rem, $primary-txt-color);
            display: flex;
            justify-content: center;
            align-items: center;
    }
}