@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";
@import "../../../sass/fonts.scss";

.tableRow {
  display: flex;
  width: 100%;
}

.courseItems {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  margin: 0.6rem 1rem;

  li {
    list-style: none;
    padding: 1rem 0.6rem;
    @include typography($primary-font-family, 1.2rem, $primary-txt-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 5rem;
  }
}
