@import "../../sass/mixins.scss";
@import "../../sass/global.scss";
@import "../../sass/variables.scss";
@import '../../sass/fonts.scss';

.container {
  height: 100vh;
  margin: 100px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}




.service_carts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;

}

.cart {
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include size(20rem, 10rem);

  &:nth-child(1) {
    background-image: linear-gradient(to right top, #e0b408, #e0b809, #e1bc0b, #e1c00d, #e1c40f);
  }

  &:nth-child(2) {
    background-image: linear-gradient(to right top, #cc2817, #d33221, #da3b2a, #e04433, #e74c3c);
  }

  &:nth-child(3) {
    background-image: linear-gradient(to right top, #1a5f8f, #216da1, #277bb4, #2e89c7, #3498db);
  }

  &:nth-child(4) {
    background-image: linear-gradient(to right top, #641184, #722690, #7f389d, #8d49a9, #9b59b6);
  }



  img {
    @include size(4.6rem, 5rem);
  }

  span {
    @include typography($secondary-font-family, 1.7rem, #fff);
    font-weight: bold
  }
}

.path {
  @include size(35%, 48%);
  @include position(absolute, $top: -2rem, $left: 0);
}





.girlFlowerSet {
  @include size(19rem, 25rem);
  @include position(absolute, $top: 12rem, $left: 0);
}

.boy {
  @include position(absolute, $top: 2rem, $right: 0);
  @include size(13rem, 18rem);

}

;

.servicesCart-content {

  box-shadow: 0px 0px 5px 0px rgba(57, 57, 57, 0.16);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(57, 57, 57, 0.16);
    -moz-box-shadow: 0px 0px 5px 0px rgba(57, 57, 57, 0.16);
  border-radius: 7px;
  @include size(15rem, 7.5rem);
  text-align: center;
  @include position(absolute, $top: 0, $right: 12rem);

}

.puepleFlower2 {
  @include size(2rem, 3rem);
  transform: rotate(-20deg);
  @include position(absolute, $top: -2.5rem, $right: 19rem);
}