.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50px;
  gap: 50px;

  .bottomPart {
    display: flex;
    justify-content: space-between;
  }
}
