@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";
.blog{
    background-color: red;
    display: flex;
    align-items: center;
    gap: 1rem;
    // width: 385px;
    direction: rtl;
    padding-bottom: 1rem;
    margin-right: 10px;
}
.image_blog{
    width: 100px;
    height: 74px;
}
.title{
    font-weight: bold;
    margin-bottom: 9px;
    @include typography($primary-font-family, 15px,rgba(0, 0, 0, 0.701961) );


}
.text{
    @include typography($primary-font-family, 13px,#707070 );
    
}