@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/media.scss";

$btnColor: #6c63ff;
$white: #ffffff;

@mixin textStyle($color) {
  color: $color;
  font-size: 33px;
  font-family: vazirmatn-Bold;
}

.container {
  // height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // overflow: hidden;

  .header {
    width: 22rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
    -moz-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);

    .circle-b {
      width: 4rem;
      height: 3.5rem;
      position: absolute;
      top: -1rem;
      left: 19rem;
    }
    .circle-l {
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 4.5rem;
      left: -1rem;
    }

    .text-1 {
      @include typography($secondary-font-family, 30px, #5a0ba9);
    }

    .text-2 {
      @include typography($primary-font-family, 15px, #5a0ba9);
      opacity: 60%;
    }
  }

  .CategoryCard {
    width: 60rem;
    // height: 33rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include max-width("medium") {
      width: 30rem;
    }

    .items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 35px;
      align-items: center;
      justify-content: center;

      .item {
        width: 13rem;
        height: 12rem;
        background-color: $white;
        border: #707070;
        border-radius: 25px;
        box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
        -webkit-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
        -moz-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include max-width("medium") {
          width: 10rem;
        }

        .div-img {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .img {
          width: 50%;
        }
      }
    }

    .div-btn {
      margin-top: 52px;

      .btn {
        width: 5.5rem;
        height: 2.5rem;
        border: 1px solid $btnColor;
        background-color: $white;
        border-radius: 15px;
        transition: 0.3s all;
        @include typography($primary-font-family, 20px, $btnColor);

        &:hover {
          background-color: $secondary-bg-color;
          cursor: pointer;
        }
      }
    }

    .p-1 {
      width: 2.5rem;
      position: absolute;
      top: -0.5rem;
      left: 53rem;
      z-index: -1;
    }

    .p-2 {
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      top: 25.6rem;
      left: 54rem;
      z-index: -1;
    }

    .p-3 {
      width: 2.3rem;
      position: absolute;
      top: 16.5rem;
      left: -1.2rem;
      z-index: -1;
    }

    .p-4 {
      position: absolute;
      top: 23.3rem;
      left: 17rem;
      z-index: -1;
    }
  }

  .p-5 {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 28rem;
    left: 82rem;
  }

  .p-6 {
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 8rem;
    left: -3.5rem;

    @include max-width("medium") {
      display: none;
    }
  }
}

.one {
  @include typography($secondary-font-family, 25px, #32d835);
}

.two {
  @include typography($secondary-font-family, 25px, #3282d8);
}

.three {
  @include typography($secondary-font-family, 25px, #ff3320);
}

.four {
  @include typography($secondary-font-family, 25px, #af2ecc);
}

.five {
  @include typography($secondary-font-family, 25px, #ff0065);
}

.six {
  @include typography($secondary-font-family, 25px, #ff9515);
}

.seven {
  @include typography($secondary-font-family, 25px, #20f9ff);
}

.eight {
  @include typography($secondary-font-family, 25px, #b20000);
}
