@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";


.categoryPin{
  display: flex;
  gap: 5px;
  
}
.cardDate {
  align-items: center;
  @include typography($primary-font-family, 0.6rem, $secondary-txt-color);
}
.cardCategory {
  display: flex;
  align-items: center;
  gap: 5px;
  @include typography($primary-font-family, 0.6rem, $secondary-txt-color);

}
.cardDate {
  border-right: solid 0.8px $secondary-txt-color;
  padding-right: 5px;
  display: flex;
}
