@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
   direction: rtl;
//    font-family:'vazirmatn-Regular';
}
.head{
    display: flex;
    align-items: center;
    margin-bottom:30px ;
    
}
.title{
    width:490px;
    height: 120px;
    box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.160784);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    
}
.title h2{
    font-weight: bold;
    @include typography($primary-font-family,25px,#5A0BA9 ) ;
}
.heIcon{
    position: relative;
    right: 90px;
    top: 30px;
}
.sheIcon{
    position: relative;
    left: 85px;
    top: 30px;
}
.sheIcon_img{
    height:180px ;
}
.heIcon_img{
    height: 180px;

}

.conteiner_Article{
    display: flex;
    gap: 35px;
}
.news,.articles{
    display: flex;
    flex-direction: column;
    width: 662px;
    /* height: px; */
    border-radius: 25px;
    padding:  0 1rem ;
    background: #FFFFFF;
    box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.160784);
}
.news_title,.articles_title{
    border-radius: 14px;
    background: #ffff;
    width: 75px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.160784);
    margin-bottom: 10px;
    @include typography($primary-font-family,15px,black ) ;
}
.btn{
  border: 2px solid #67008F ;  
  border-radius: 15px;
  padding: 9px 23px;
  align-self: flex-end;
  cursor: pointer;
  background-color:#ffff;
  margin-bottom: 18px;
  @include typography($primary-font-family,15px,#5A0BA9 ) ;

}
.Newsletters{
    margin-top: 45px;
}
.add_Newsletters{
    width: 500px;
    height: 70px;
    border-radius: 21px;
    border: 1px solid #8e8d8d;
    outline:none;
    padding-right: 50px;
    font-size: 17px;
    color: #5A0BA9;
}
.add_Newsletters::placeholder{
    @include typography($primary-font-family,17px,#67008F ) ;

}
.add_Newsletters:focus{
    border: 2px solid #5A0BA9;
}
