.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
}
.head {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.title {
  width: 490px;
  height: 120px;
  box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.160784);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.title h2 {
  color: #5a0ba9;
  font-size: 25px;
  font-weight: bold;
}
.heIcon {
  position: relative;
  right: 90px;
  top: 30px;
}
.sheIcon {
  position: relative;
  left: 85px;
  top: 30px;
}
.sheIcon_img {
  height: 180px;
}
.heIcon_img {
  height: 180px;
}

.conteiner_Article {
  display: flex;
  gap: 35px;
}
.news,
.articles {
  display: flex;
  flex-direction: column;
  width: 662px;
  /* height: px; */
  border-radius: 25px;
  padding: 0 1rem;
  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.160784);
}
.news_title,
.articles_title {
  border-radius: 14px;
  background: #ffff;
  width: 75px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.160784);
  margin-bottom: 10px;
}
.image_article {
  width: 93px;
  height: 66px;
}

.news_item,
.articles_item {
  display: flex;
  align-items: center;
  gap: 40px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
  padding-block: 8px;
  /* padding-bottom:15px;
     padding-top:15px ; */
}
.btn {
  border: 2px solid #67008f;
  border-radius: 15px;
  padding: 9px 23px;
  align-self: flex-end;
  cursor: pointer;
  background-color: #ffff;
  margin-bottom: 18px;
  font-size: 15px;
  font-family: "vazirmatn-Regular";
}

.btn:hover {
  background-color: #eee6f6;
}

.Newsletters {
  margin-top: 45px;
}
.add_Newsletters {
  width: 500px;
  height: 70px;
  border-radius: 21px;
  border: 1px solid #8e8d8d;
  outline: none;
  padding-right: 50px;
  font-size: 17px;
  color: #5a0ba9;
}
.add_Newsletters::placeholder {
  color: #67008f;
  font-size: 17px;
  font-family: "vazirmatn-Regular";
}
.add_Newsletters:focus {
  border: 2px solid #5a0ba9;
}
