@import "../../../../sass/mixins";
@import "../../../../sass/variables";
@import "../../../../sass/media";

.singleCourseLink {
  text-decoration: none;
}

.singleCourse {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  gap: 5px;
  border-radius: 17.5px;
  width: 100%;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 6px rgba(87, 87, 87, 0.160784);
  cursor: pointer;

  &:hover .price {
    color: white;
    background-color: #36c54e;
    &:after {
      color: white;
    }
  }

  .poster {
    width: 100%;
  }

  .title {
    @include typography(Vazirmatn-Regular, 17.5px, rgba(0, 0, 0, 0.9));
    padding: 0 15px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 15px;
  }
  .right {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
  }

  .teacher_name {
    @include typography($primary-font-family, 12px, #707070);
  }

  .price {
    @include typography("Shabnam-Bold", 14px, #36c54e);
    background-color: #fff;
    border: solid 2px #36c54e;
    border-radius: 17.5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;

    &:after {
      content: "\00A0 تومان";
      @include typography($primary-font-family, 8px, #36c54e);
    }

    &:active {
      background-color: #1c8a2e;
    }
  }
  .capacity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 17.5px;
    box-shadow: 0px 0px 6px rgba(87, 87, 87, 0.160784);
    @include typography("Shabnam-Bold", 14px, #707070);
    width: 33px;
    padding: 10px 0;
    img {
      width: 18px;
    }
    .all_capacity {
      background-color: rgba(0, 0, 0, 0.03);
      width: 100%;
      text-align: center;
      padding: 3px 0;
    }
  }
}
