@import "../../sass/variables.scss";

.QA {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .sectionName {
    width: 354px;
    height: 122px;
    padding: 30px 86px;
    font-family: $secondary-font-family;
  }
}
