@import "../../sass/mixins.scss";
@import "../../sass/global.scss";
@import "../../sass/variables.scss";
@import '../../sass/fonts.scss';

.container {
    position: relative;
    width: 100%;
}


.header {
    width: 60rem;
    z-index: 1;
    @include position(absolute, $top: 25rem, $right: 10rem);

    h1 {
        @include typography($secondary-font-family, 3rem, #434343)
    }

    p {
        margin-top: 1.4rem;
        @include typography($primary-font-family, 2rem, $primary-txt-color)
    }

    button {
        margin-top: 8rem;
        @include typography($primary-font-family, 1.5rem, #fff);
        border-radius: 35px;
        background-image: linear-gradient(to right top, #c003b2, #a900b1, #9100af, #7705ac, #5a0ba9);
        padding: 1.2rem 5rem;
        outline: none;
        border: none;

        &:hover {
            background-color: $text-accent-color;
        }

        &:active {
            background-color: $text-accent-color;
        }
    }

}









.header1 {
    @include size(148rem, 80.1rem);
    @include position(absolute, $top: 0, $right: 0);
    z-index: 0;
    background-size: cover
}


.header2 {
    @include size(79rem, null);
    @include position(absolute, $top: 0, $left: 0)
}


.girlDesk {
    @include size(55rem, 50rem);
    @include position(absolute, $top: 7.5rem, $left: 7rem)
}