@import "../../sass/mixins.scss";
@import "../../sass/global.scss";
@import "../../sass/variables.scss";
@import '../../sass/fonts.scss';

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem;
}

img {
    @include size(2.5rem, 2.5rem);
        display: flex;
        justify-content: center;
        align-items: center;
}

.navigationItems {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    li {
        padding: 1rem;
        list-style: none;
    }

    a {
        @include typography($primary-font-family, 0.8rem, $text-accent-color);
            text-decoration: none;
        
            &:hover {
                color: lighten($text-accent-color, 20%);
            }
        }
}