@import "../../../sass/mixins";
@import "../../../sass/variables";
@import "../../../sass/media";

.list_courses{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
}