@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: vazirmatnThin;
    font-weight: 100;
    src: url('./assets/webfonts/Vazirmatn-Thin.woff2') format("woff");
  }

  @font-face {
    font-family: vazirmatnExLight;
    font-weight: 200;
    src: url('./assets/webfonts/Vazirmatn-ExtraLight.woff2') format("woff2");
  }

  @font-face {
    font-family: vazirmatnLight;
    font-weight: 300;
    src: url('./assets/webfonts/Vazirmatn-Light.woff2') format("woff2");
  }

  @font-face {
    font-family: vazirmatn;
    font-weight: 400;
    src: url('./assets/webfonts/Vazirmatn-Regular.woff2') format("woff2");
  }

  @font-face {
    font-family: vazirmatnMedium;
    font-weight: 500;
    src: url('./assets/webfonts/Vazirmatn-Medium.woff2') format("woff2");
  }

  @font-face {
    font-family: vazirmatnSemiB;
    font-weight: 600;
    src: url('./assets/webfonts/Vazirmatn-SemiBold.woff2') format("woff2");
  }

  @font-face {
    font-family: vazirmatnBold;
    font-weight: 700;
    src: url('./assets/webfonts/Vazirmatn-Bold.woff2') format("woff2");
  }

  @font-face {
    font-family: vazirmatnExB;
    font-weight: 800;
    src: url('./assets/webfonts/Vazirmatn-ExtraBold.woff2') format("woff2");
  }

  @font-face {
    font-family: shabnam;
    font-weight: 400;
    src: url('./assets/webfonts/shabnamFont/Shabnam-FD.woff') format("woff2");
  }

  @font-face {
    font-family: shabnamBold;
    font-weight: 800;
    src: url('./assets/webfonts/shabnamFont/Shabnam-Bold-FD.woff2') format("woff2");
  }
}


@layer components {
  .newsTitle {
    @apply font-vazirmatnBold flex justify-center items-center text-[40px] text-purple text-center shadow-3xl w-[661px] h-[150px] rounded-3xl py-10 px-20
  }
}

@layer components {
  .outline-btn {
    @apply outline-none border text-btn-purple rounded-2xl px-6 py-2 border-btn-purple font-vazirmatn text-xl
  }
}

@layer components {
  .news-input {
    @apply w-[348px] h-[40px] outline-none text-btn-purple font-bold text-3xl placeholder:text-btn-purple placeholder:text-3xl placeholder:font-bold placeholder:opacity-10
  }
}

@layer components {
  .form-input {
    @apply w-[380px] h-[40px] max-sm:w-[350px] pr-3 font-vazirmatnLight text-lg outline-none text-btn-purple rounded-2xl border border-input-purple placeholder:font-vazirmatnLight placeholder:text-sm
  }
}

.star-ratings .multi-widget-selected {
  transform: rotateY(180deg);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}


input::-webkit-datetime-edit-year-field:not([aria-valuenow]),
input::-webkit-datetime-edit-month-field:not([aria-valuenow]),
input::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}