@import "../../sass/fonts.scss";
@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";


.DetailsBill_card {
width: 64rem;
background-color: $primary-bg-color;
height: 30rem;
border-radius: 25px;
}
.flex{
display: flex;}
.form {
width: 60rem;
display: flex;
flex-direction: column;
gap: 0.75rem;
  border-radius: 15px;
  position: absolute;

  padding: 30px 20px;
}
.form label{
margin-bottom: 10px;
}
.form_div1{
display: flex;
gap: 1.5rem;
margin-top: 2rem;
}
.form_div1 div{
    width: 100%;

}
.inputForm{
    width: 100%;
    height: 50px;
    border: 0px solid rgb(214, 211, 211);
    border-radius: 15px;
    outline: none;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px 15px;
    @include typography($primary-font-family, 15px, $text-accent-color);

    &::placeholder {
      color: $text-accent-color;
    }
  }