@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";
@import "../../sass/fonts.scss";
@import "../../sass/media.scss";

.tableDashboardCountainer {
  max-width: 1000px;
  width: 1000px;
  padding: 0.8rem;
  // margin: 1.3rem auto;
  min-height: 70vh;
  box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  -moz-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  border-radius: 10px;
  @include max-width(medium) {
    box-shadow: none;
    min-height: unset;
  }
}

.tableHeader {
  display: flex;
  width: 100%;
  padding: 0.6rem;
  justify-content: space-between;
  border-radius: 10px;
  @include max-width(medium) {
    display: none;
  }
  .registeredCourseNumbers {
    display: flex;
    justify-content: center;
    align-items: center;
    @include typography($secondary-font-family, 0.8rem, $primary-txt-color);
    @include max-width(medium) {
      @include typography($secondary-font-family, 0.5rem, $primary-txt-color);
    }
  }
  .inputSearchCountainer {
    position: relative;
    .input {
      background-color: #eee6f6;
      width: 100%;
      padding-block: 0.5rem;
      padding-inline: 1rem 1.6rem;
      box-sizing: border-box;
      border: none;
      border-radius: 25px;
      outline: none;

      @include typography($primary-font-family, 0.9rem, $text-accent-color);
      &::placeholder {
        @include typography($primary-font-family, 0.9rem, $text-accent-color);
        //padding-right: 0.8rem;
      }
      &::-webkit-input-placeholder {
        @include typography(
          $primary-font-family,
          0.7rem,
          $text-accent-color,
          important
        );
      }
      @include max-width(medium) {
        padding-block: 0.3rem;
        padding-inline: 0.8rem 1.2rem;
        @include typography($primary-font-family, 0.5rem, $text-accent-color);
        &::placeholder {
          @include typography($primary-font-family, 0.5rem, $text-accent-color);
          //padding-right: 0.8rem;
        }
        &::-webkit-input-placeholder {
          @include typography(
            $primary-font-family,
            0.5rem,
            $text-accent-color,
            important
          );
        }
      }
    }
    .icon {
      @include position(absolute, $top: 0.6rem, $left: 0.7rem);
      @include typography($secondary-font-family, 1rem, $text-accent-color);
      @include max-width(medium) {
        @include position(absolute, $top: 0.5rem, $left: 0.7rem);
        @include typography($secondary-font-family, 0.8rem, $text-accent-color);
      }
    }
  }
}
.tableCountainer {
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.6rem;
  box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  -moz-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  @include max-width(medium) {
    margin: 0.1rem;
  }
}

.tablrRowTitle {
  width: 100%;
  display: flex;
}
.courseItemsTitle {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin: 0.56rem 0.6rem;
  padding: 0.5rem 0.7rem;
  @include max-width(medium) {
    grid-template-columns: repeat(5, 1fr);
    // margin: 0.56rem 0.6rem;
    padding: 0.3rem 0;
  }
  li {
    list-style: none;
    padding: 0.5rem 0.6rem;
    @include typography($secondary-font-family, 0.85rem, #434343);
    display: flex;
    justify-content: center;
    align-items: center;
    @include max-width(medium) {
      @include typography($secondary-font-family, 0.5rem, #434343);
      &:nth-child(1),
      &:nth-child(6) {
        display: none;
      }
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.notFoundText {
  background-color: #fff;
  @include typography($secondary-font-family, 0.9rem, $primary-txt-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem 1rem;
  padding: 0.75rem 1.1rem;
  box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  -moz-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
}
