@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";
@import "../../sass/fonts.scss";

.Countainer {
  width: 60%;
  padding: 0.8rem;
  margin: 2rem auto;
  box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  -moz-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  border-radius: 10px;
}

.tableHeader {
  display: flex;
  width: 100%;
  padding:0.6rem 1rem;
  justify-content: space-between;
border-radius: 10px;
  .registeredCourseNumbers{
         span {
        @include typography($secondary-font-family, 1.2rem, $primary-txt-color);
      }
    
  }
  .inputSearchCountainer{
    position: relative;
.input {
      background-color: #eee6f6;
      width: 100%;
      padding: 0.7rem;
      box-sizing: border-box;
      border: none;
      border-radius: 25px;
      outline: none;
      padding-left: 2.2rem;
       @include typography($primary-font-family, 0.7rem, $text-accent-color);
      &::placeholder{
        @include typography($primary-font-family, 0.7rem, $text-accent-color);
      }
      &::-webkit-input-placeholder{
                @include typography($primary-font-family, 0.7rem, $text-accent-color,important);

      }
    }
     .icon {
      @include position(absolute, $top: 0.7rem, $left: 1rem);
      font-size: 1.7rem;
      color: $text-accent-color;
      span {
        @include typography($secondary-font-family, 1rem, $primary-txt-color);
      }
    }

  }

}
.tableCountainer {
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
  -moz-box-shadow: 0px 0px 6px 0px rgba(87, 87, 87, 0.16);
}

.tablrRowTitle {
  width: 100%;
  display: flex;
}
.courseItemsTitle {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin:0.8rem 1rem;
  padding:0.5rem 0.7rem;

  li {
    list-style: none;
    padding: 1rem 1.2rem;
    @include typography($secondary-font-family, 1.2rem, #434343);
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
//     .registeredCourseNumbers {

//         //input saerch
//         .inputSearchCountainer {
//             position: relative;
//         }

//         .input {
//             background-color: #eee6f6;
//             width: 100%;
//             padding: 0.5rem;
//             box-sizing: border-box;
//             border: none;
//             border-radius: 25px;
//             color: black;
//             outline: none;
//             padding-left: 2rem;
//         }

//         .icon {
//             @include position(absolute, $top: 0.5rem, $left: 0.5rem);
//             font-size: 1.5rem;
//             color: $text-accent-color;

//             span {
//                 @include typography($secondary-font-family, 1rem, $primary-txt-color);
//             }
//     }
// }
