@import "../../sass/mixins";
@import "../../sass/variables";
@import "../../sass/media.scss";

.Courses {
  display: flex;
  flex-direction: column;
  padding: 32px 0 32px 0;
  width: 100%;
  @include max-width(medium) {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 17.5px;
    box-shadow: 0px 0px 10px rgba(87, 87, 87, 0.115);
  }
}

.title {
  background-color: white;
  margin: auto;
  display: flex;
  box-shadow: 0px 0px 3px rgba(87, 87, 87, 0.160784);
  padding: 18px 70px;
  border-radius: 17.5px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  @include max-width(medium) {
    width: 60%;
    min-width: 300px;
  }
  @include max-width(small) {
    width: 60%;
    min-width: 100px;
  }
  h2 {
    @include typography($secondary-font-family, 28px, $text-accent-color);
    @include max-width(small) {
      @include typography($secondary-font-family, 20px, $text-accent-color);
    }
  }
  span {
    @include typography($primary-font-family, 15.5px, rgba(90, 11, 169, 0.6));
    @include max-width(small) {
      @include typography($primary-font-family, 13px, rgba(90, 11, 169, 0.6));
    }
  }
  img {
    z-index: -1;
    display: inline-block;
    position: absolute;
    right: -42px;
    top: 0px;
    width: 65px;
    @include max-width(medium) {
      width: 100px;
      right: -70px;
      top: -30px;
    }
    @include max-width(small) {
      width: 60px;
      right: -40px;
      top: 0px;
    }
  }
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 35px;
  @include max-width(large) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.man_graph_1,
.man_graph_2,
.hand_graph {
  position: absolute;
}
.bigcard {
  background-color: white;
  padding: 26px;
  width: 703px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 17.5px;
  box-shadow: 0px 0px 3px rgba(87, 87, 87, 0.160784);
  @include max-width(x-large) {
    width: 550px;
  }
  @include max-width(medium) {
    width: 94%;
  }

  .man_graph_1 {
    z-index: -1;
    height: 280px;
    right: -57px;
    top: -59px;
    @include max-width(medium) {
      display: none;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    .right_box {
      display: flex;
      flex-direction: column;
      flex-basis: 70%;
      padding: 14px 15px 0 0;
      gap: 20px;
    }
    .left_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 17px 10px;
      gap: 45px;
    }
    h3 {
      @include typography($secondary-font-family, 24.5px, #434343);
      @include max-width(medium) {
        @include typography($secondary-font-family, 20px, #434343);
      }
    }
    p {
      @include typography($primary-font-family, 14px, $primary-txt-color);
      @include max-width(medium) {
        @include typography($primary-font-family, 12px, $primary-txt-color);
      }
    }
    span {
      @include typography($primary-font-family, 17.5px, $primary-txt-color);
      @include max-width(medium) {
        @include typography($primary-font-family, 15px, $primary-txt-color);
      }
    }
  }
}

.smallcard {
  background-color: white;
  width: 286px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 17.5px;
  box-shadow: 0px 0px 3px rgba(87, 87, 87, 0.160784);
  padding: 21px 24px;

  @include max-width(large) {
    width: 550px;
  }

  @include max-width(medium) {
    width: 94%;
  }

  .man_2 {
    position: relative;
    left: -177px;
    top: 237px;
    @include max-width(large) {
      left: -177px;
      top: 237px;
      // z-index: 5;
    }
  }
  .man_graph_2 {
    z-index: -1;
    width: 100%;
    height: 280px;
    left: 0px;
    top: 0px;
    @include max-width(large) {
      z-index: 0;
      left: -135px;
      top: -3px;
    }
    @include max-width(medium) {
      display: none;
    }
  }
  .hand_graph {
    width: 59.5px;
    left: 138px;
    top: 43px;

    @include max-width(medium) {
      display: none;
    }
    // bottom: 0;
  }
  .btn {
    margin: auto;
    @include max-width(medium) {
      padding: 10px 25px;
      margin-top: 10px;
      @include typography($primary-font-family, 14px, $text-accent-color);
    }
  }
}

.courses_pic {
  overflow: hidden;
  border-radius: 17.5px;
  margin: 5px 0;
  img {
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1.0);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1.0);
    }
  }
}

.btn {
  border: 2px solid $text-accent-color;
  border-radius: 17.5px;
  padding: 10px 22px;
  cursor: pointer;
  background-color: #ffff;
  transition: 0.3s;
  &:hover {
    background-color: #eee6f6;
  }
  &:active {
    background-color: #dbcfe8;
  }

  @include typography($primary-font-family, 14px, $text-accent-color);
  @include max-width(medium) {
    padding: 8px 10px;
    @include typography($primary-font-family, 12px, $text-accent-color);
  }
}
