.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;

  .services {
    margin-top: 950px;
  }

  .teachers {
    margin-top: 50px;
  }

  .articles {
    margin-top: 150px;
  }

  .QA {
    margin-top: 100px;
  }
}
