
@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";
.conteiner{
    display:flex;
    width: 100%;
    margin-top: 100px;
}
.informatinoBox{
    width: 30%;
    display: flex;
    justify-content: center;
}
.formBox{
    width: 70%;
    display: flex;
    justify-content: center;
}
.informatino_conteiner{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.informatino{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 200px;
}
.informatino_img{
    width: 20px;
    height: 20px;
}
.informatino_text :nth-child(odd){
    font-size: 15px;
    @include typography($primary-font-family, 15px,black);
}
.informatino_text :nth-child(even){
    @include typography($primary-font-family, 12px,rgba(0, 0, 0, 0.4) );
}

.form_conteiner {
    box-shadow: 2px 2px 7.5px rgba(87, 87, 87, 0.2);
    border-radius: 25px;
    height: 460px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.form_conteiner{
  P{
    text-align: center; 
    margin-bottom: 25px;
    font-weight: bold;
    @include typography($primary-font-family, 19px,black );
}  
} 

.form{
    padding-inline: 25px;
    display: flex;
    flex-direction: column;
}
.form{
    input,textarea {
    outline: none;
    border: 1px solid #9F0099;
    border-radius: 12px;
    padding-block:10px ;
    padding-right: 12px;
    margin-bottom: 15px;
}
}


.form{
    input,textarea::placeholder{
    color:rgba(0, 0, 0, 0.6); ;
    font-size: 12px;
    @include typography($primary-font-family, 12px,rgba(0, 0, 0, 0.6) );
}
} 

.form {
   textarea{
    resize: none;
    @include typography($primary-font-family, 12px,rgba(0, 0, 0, 0.6) );
}
} 


.btn{
    border-radius: 12px;
    border: none;
    background: #36C54E;
    padding: 9px;
    margin-top: 30px;
    @include typography($primary-font-family, 12px,#fff );
}