// button
@mixin button-text($bg-color,
  $text-color,
  $padding,
  $font-size,
  $border-radius,
  $hover-bg-color,
  $active-bg-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: $padding;
  font-size: $font-size;
  border-radius: $border-radius;

  &:hover {
    background-color: $hover-bg-color;
  }

  &:active {
    background-color: $active-bg-color;
  }
}

// typography
@mixin typography($font-family,
  $font-size,
  $line-height,
    $text-color) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// cart
@mixin cart($background-color, $border-color, $text-color, $padding) {
  background-color: $background-color;
  border: 1px solid $border-color;
  color: $text-color;
  padding: $padding;
}

// image
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin position($position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null) {
  position: $position;

  @if $top !=null {
    top: $top;
  }

  @if $right !=null {
    right: $right;
  }

  @if $bottom !=null {
    bottom: $bottom;
  }

  @if $left !=null {
    left: $left;
  }
}

//icon
@mixin icon($font-size, $color, $text-align) {
  font-size: $font-size;
  color: $color;
  text-align: $text-align;
  display: inline-block;
  vertical-align: middle;
}