@import "../sass/fonts";

// background-color
$primary-bg-color:rgba(0,0,0,0.03);
$secondary-bg-color: #EEE6F6;
$primary-btn-bg-color:#36C54E;


// text-color
$primary-txt-color: #707070;
$secondary-txt-color: #909090;
$tertiary-txt-color: #565656;// more in footer 
$text-accent-color:#5A0BA9;




// fonts text
$primary-font-family: "Vazirmatn-Regular";
$secondary-font-family:"Vazirmatn-bold" ;
$tertiary-font-family: "Vazirmatn-Light";

// fonts number
$primary-font-family: "Shabnam-Bold_FD";
$secondary-font-family: "Shabnam-FD-Regular";

