
// text fonts 
@font-face {
    font-family:'vazirmatn-Bold' ;
    src: url('./fonts/fonts-vazirmatn/Vazirmatn-Bold.woff2');
}
@font-face {
    font-family:'vazirmatn-Light' ;
    src: url('./fonts/fonts-vazirmatn/Vazirmatn-Light.woff2');
}
@font-face {
    font-family:'vazirmatn-Medium' ;
    src: url('./fonts/fonts-vazirmatn/Vazirmatn-Medium.woff2');
}
@font-face {
    font-family:'vazirmatn-Regular' ;
    src: url('./fonts/fonts-vazirmatn/Vazirmatn-Regular.woff2');
}
@font-face {
    font-family:'vazirmatn-SemoBold' ;
    src: url('./fonts/fonts-vazirmatn/Vazirmatn-SemiBold.woff2');
}


// numbers fonts
@font-face {
    font-family:'Shabnam-Bold_FD' ;
    src: url('./fonts/fonts-shabnam/Shabnam-Bold-FD.woff');
}
@font-face {
    font-family:'Shabnam_FD' ;
    src: url('./fonts/fonts-shabnam/Shabnam-FD.woff');
}
@font-face {
    font-family:'Shabnam-Bold' ;
    src: url('./fonts/fonts-shabnam/Shabnam-Bold.woff');
}

@font-face {
    font-family:'Shabnam' ;
    src: url('./fonts/fonts-shabnam/Shabnam.woff');
}
@font-face {
    font-family:'Shabnam-FD-Regular' ;
    src: url('./fonts/fonts-shabnam/Shabnam-Medium-FD.woff');
}
body,button,::placeholder{
    font-family:'vazirmatn-Regular'
}