@import "../sass/fonts";

// background-color

$primary-bg-color: rgba(0, 0, 0, 0.03);
$secondary-bg-color: #eee6f6;
$primary-btn-bg-color: #36c54e;

// text-color
$primary-txt-color: #707070;
$secondary-txt-color: #909090;

$tertiary-txt-color: #565656; // more in footer
$text-accent-color: #5a0ba9;

// fonts text
$primary-font-family: "Vazirmatn-Regular";
$secondary-font-family: "Vazirmatn-bold";
$tertiary-font-family: "Vazirmatn-Light";

// fonts number
$primary-font-number-family: "Shabnam-Bold_FD";
$secondary-font-number-family: "Shabnam-FD-Regular";

