@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";
.conteiner{
    direction: rtl;
    width: 650px;
    box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.160784);
    border-radius: 23px;
}
.head{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 130px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.160784);
    margin-right: 20px;
    margin-bottom: 25px;
    
}
.headIcon{
    background: rgba(0,0,0,0.03 );
    border-radius: 0 25px  25px 0  ;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconImg{
    width: 28px;
    height: 28px;
}
.headText{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include typography($primary-font-family, 15px,rgba(0, 0, 0, 0.701961) );
}
.blogs{
    overflow-y: scroll;
    height:820px;
    direction:ltr ;
    
}
.blogs::-webkit-scrollbar {
    width: 11px;
    
  }
.blogs::-webkit-scrollbar-thumb {
    background-color: #707070;
    border-radius: 10px;
  }  