
@import "../../../sass/variables.scss";

.container{
    background: linear-gradient(to right,#66008C ,#9F0099 );
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100vh;
    font-family: $primary-font-family;
}
.login{
    width: 110%;
    height: 100vh;
}
.boxLogin{
    width: 500px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    top: 150px;
    right: 130px;
    box-shadow: 0 0 12px #333;
    transition: 0.5s;
}
.boxHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.textHeader{
    font-size: 20px;
    font-weight: bold;
}
.inputs{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.input{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding-right: 15px;
    margin-top: 10px;
    color: #C200BC;
    border: 1px solid #C200BC;
    outline: none;
    font-family: $tertiary-font-family;
}
.input:focus{
    border: 2px solid #bb0dfa;
}
.checkbox_parent{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 15px;
    padding-right: 10px;
}
.checkbox{
    width: 20px;
    height: 20px;
}
.checkbox_text{
    margin-right: 10px;
    color: #C200BC;
}
.footer{
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.btn{
    width: 95%;
    height: 50px;
    background-color: #36C54E;
    border-radius: 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.forget{
    margin: 10px 0;
    color: #C200BC;
    text-decoration: none;
    font-weight: bold;
}
.signup{
    text-decoration: none;
    color: #C200BC;
}

@media screen and (max-width: 600px) {
    .container{
        background: #ffffff;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boxLogin{
        position: static;
        width: 370px;
        height: 450px;
    }
    .login{
        display: none;
    }

}