@import "../../../sass/variables.scss";
@import "../../../sass/media.scss";

.container {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: $primary-font-family;
}
.purple {
  width: 111.5%;
  height: 103%;
  position: fixed;
  top: -1vh;
  left: -3%;
}
.signup {
  width: 62%;
  height: 45vh;
  position: fixed;
  top: 32vh;
  left: 0%;
}

// @media screen and (max-width: 600px) {
//   .container {
//     background: #ffffff;
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .signup {
//     display: none;
//   }
//   .parentBox {
//     position: static;
//     width: 370px;
//   }
// }

@include max-width(large) {
  .signup {
    width: 55%;
  }
}

@include max-width(medium) {
  .container {
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    padding-top: 20px;
  }
  .signup,
  .purple {
    display: none;
  }
}

@include max-width(small) {
  .container {
    background: #ffffff;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .signup,
  .purple {
    display: none;
  }
}
