.conteiner{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.shopping_cart,.search{
background-color: #EEE6F6;
/* padding:10px 10px; */
width: 30px;
height: 30px;

border-radius: 50px;
border: none;
color: #722eb4;
cursor: pointer;
display:flex;
align-items: center;
justify-content: center;

}
.login{
    background-color: #EEE6F6;
    border: none;
    /* padding:8px 20px ; */
    width: 60px;
    height: 30px;
    border-radius: 1rem;
    color: #722eb4;
    cursor: pointer;

}
.register{
    background: #EEE6F6;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 1rem;
    color: #722eb4;
    cursor: pointer;

    
}
/* .search{
    background-color: #d2aef8;
    padding: 10px;
    border-radius: 50px;
    color: #722eb4;
    border: none;

} */