.conteiner{
    display: flex;
    align-items: center;
    gap: 8px;
}

.shopping_cart,.search{
    background-color: #EEE6F6;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    color: #722eb4;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
}

.shopping_cart{
    margin-left:10px;
}

.searchIcon,.shoppinIcon{
    width: 15px;
    height: 15px;
}

.login{
    background-color: #EEE6F6;
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 1rem;
    color: #722eb4;
    cursor: pointer;
}

.register{
    background: #EEE6F6;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 1rem;
    color: #722eb4;
    cursor: pointer;
}
